# The recipient for the commit:
mailinglist: developers@example.com 

# set to true if you want to ignore empty merge messages
ignore_merge: false 

# Optional parameter for the subject-line of the mail 
# emailprefix: GIT

# Limit lines per diff
# lines_per_diff: 300

# select the delivery method: smtp or sendmail 
delivery_method: sendmail 

# Optionally group email by push: don't send an email for each commit when true.
# group_email_by_push: false

# settings for the smtp server
smtp_server:
  address: localhost
  port: 25
  domain: localhost
  user_name: user@localhost
  password: password
  authentication: plain
  enable_tls: false

# settings for sendmail
sendmail_options:
  location: /usr/sbin/sendmail
  arguments: -i -t

# Decorate files and commit ids with link to a webview. Possible values: none, gitweb, gitorious or trac
link_files: none 

# If link_files is set to "gitweb", you need to configure the path to your gitweb
# instance and the project name.
gitweb:
  path: http://developerserver/path_to_gitweb
  project: test.git

# If link_files is set to "gitorious", you need to configure the path to your gitorious
# instance, the project name and the repository name.
gitorious:
  path: http://example.com/path_to_gitorious
  project: backend
  repository: sql-scripts

# If link_files is set to "trac", you need to configure the path to your trac
# instance
trac:
  path: http://example.com/changeset

# commit message URL map
message_map:
#  '\brefs\s*\#(\d+)': 'http://example.com/redmine/issues/show/\1'

# Uncomment if you want to create links in your commit text
message_integration:
#  mediawiki: http://example.com/wiki # will rework [[text]] to MediaWiki pages
#  redmine: http://redmine.example.com # will rework refs #123 to Redmine issues
#  bugzilla: http://bz.example.com # will rework BUG 123 to Bugzilla bugs
