ignore_merge: false # set to true if you want to ignore empty merge messages
mailinglist: developers@example.com # recipient for the commit mail

# Optional parameter for the subject-line of the mail 
# emailprefix: GIT

delivery_method: sendmail # smtp or sendmail

smtp_server:
  address: localhost
  port: 25
  domain: localhost
  user_name: user@localhost
  password: password
  authentication: plain
  enable_tls: false

sendmail_options:
  location: /usr/sbin/sendmail
  arguments:


